/* components  */
.close_button {
  appearance: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border-width: 0px;
  background: none;
  color: white;
  font-size: 16px;
  /* appearance: none; */
  /* color: white; */
  /* background: var(--main-color); */
  /* background:; */
  position: relative;
}
.close_button img,
.close_button img:hover {
  border: none;

  height: 16px;
  width: 16px;
  position: absolute;
  left: 8px;
  top: 8px;
  object-fit: inherit;
}

.close_button:hover {
  background: var(--button-hover);
}

.arrow_button {
  appearance: none;
  height: 60px;
  width: 60px;
  background: var(--arrow-button);
  border-radius: 50%;
  border-width: 0px;
  position: relative;

  /* text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  padding-block: 1px;
  padding-inline: 6px;
  border-style: outset;
  border-color: buttonborder;
  border-image: none; */
}

.arrow_button:hover {
  background: var(--arrow-press);
}

.arrow_button img,
.arrow_button img:hover {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 20px;
  top: 20px;
  border: none;
  object-fit: inherit;
}
