/* style this boy  */
body {
  background-color: black;
}
p {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
h1 {
  padding: 20px;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  text-align: center;
  font-size: clamp(3rem, 2.308vw + 2.379rem, 3.5rem);
}
h2 {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

header {
  background: var(--main-color);
  padding: 0 max(calc(50% - 720px), 145px);
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
.header > img {
  height: 40px;
}

main {
  background: var(--bg-color);
  padding: 0px max(calc(50% - 720px), 0px);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
}
#foto_section {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  padding-left: clamp(16px, 5vw, 80px);
  padding-right: clamp(16px, 5vw, 80px);
}

.big_foto_mode {
  color: white;
  position: absolute;
  top: 13%;
  width: 700px;
  height: auto;
  z-index: 20;
  border-radius: 40px;
  backdrop-filter: blur(10px);
  background-color: var(--main-color);
  padding-bottom: 56px;
}

.bigImage {
  height: auto;
  max-width: 560px;
  object-fit: cover;
  margin: 7% auto;
  box-shadow: 8px 8px 32px 8px rgb(28 28 28);

  margin: 48px 64px;
}
.bigImage img {
  width: 100%;
}
.img_info {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 64px 0 64px;
}
.back_forward {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.back_forward p {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

footer {
  background: var(--bg-color);
  padding: 0 max(calc(50% - 720px), 0px);
  background-image: url(../assets/images/footer_bg.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.da_logo {
  height: 128px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.da_logo img {
  height: 32px;
}

.da_logo p {
  color: rgba(150, 150, 150, 1);
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

dialog {
  max-width: none;
  max-height: none;
  border: none;
  height: 100vh;
  width: 100vw;
  background: transparent;
  backdrop-filter: blur(5px);
}
dialog[open] {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  header {
    background: var(--main-color);
    padding: inherit;
  }
  .header {
    display: flex;
    justify-content: center;
  }

  main {
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .big_foto_mode {
    width: 90%;
  }

  .bigImage {
    height: auto;
    max-width: 90%;
    object-fit: cover;
    margin: 7% auto;
    box-shadow: 8px 8px 32px 8px rgb(28 28 28);
  }
  footer {
    background-image: url(../assets/images/footer_bg_mobile.svg);
  }
}
