/* style this boy  */
body {
  background-color: black;
}
p {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
h1 {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  text-align: center;
  font-size: clamp(3rem, 2.308vw + 2.379rem, 3.5rem);
}

header {
  background: var(--main-color);
  padding: 0 max(calc(50% - 720px), 145px);
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
.header img {
  height: 40px;
}

main {
  background: var(--bg-color);
  padding: 0px max(calc(50% - 720px), 0px);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
}
#foto_section {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0 145px;
}
#foto_section > img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 16px;
  border: 2px solid rgba(18, 70, 88, 1);
  transition: all 160ms ease-in-out;
  margin-bottom: 48px;
}
#foto_section > img:hover {
  border: 2px solid var(--hover-color);
}

.big_foto_mode {
  color: white;
  position: absolute;
  top: 13%;
  width: 700px;
  height: auto;
  z-index: 20;
  border-radius: 40px;
  backdrop-filter: blur(10px);
  background-color: var(--main-color);
  padding-bottom: 56px;
}
.big_foto_mode > img {
  height: 560px;
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;

  padding: 48px 64px;
}
.img_info {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 64px 0 64px;
}
.back_forward {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.back_forward p {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

footer {
  background: var(--bg-color);
  padding: 0 max(calc(50% - 720px), 0px);
  background-image: url(../assets/images/footer_bg.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  footer {
    background-image: url(../assets/images/footer_bg_mobile.svg);
  }
}

.da_logo {
  height: 128px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.da_logo img {
  height: 32px;
}

.da_logo p {
  color: rgba(150, 150, 150, 1);
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

dialog {
  max-width: none;
  max-height: none;
  border: none;
  height: 100vh;
  width: 100vw;
  background: transparent;
  backdrop-filter: blur(5px);
}
dialog[open] {
  display: flex;
  justify-content: center;
  align-items: center;
}
