/* style this boy  */
body {
  background-color: black;
}
p {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
h1 {
  padding: 20px;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  text-align: center;
  font-size: clamp(3rem, 2.308vw + 2.379rem, 3.5rem);
}
h2 {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

header {
  background: var(--main-color);
  padding: 0 max(calc(50% - 720px), 145px);
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
.header > img {
  height: 40px;
}

main {
  background: var(--bg-color);
  padding: 0px max(calc(50% - 720px), 0px);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
}
#foto_section {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  padding-left: clamp(16px, 5vw, 80px);
  padding-right: clamp(16px, 5vw, 80px);
}

.big_foto_mode {
  color: white;
}

.bigImage {
  margin: 7% auto;

  margin: 48px 64px;
  display: flex;
  justify-content: center;
}
.bigImage img {
  height: 375px;
  max-width: 560px;
  object-fit: cover;
}
.img_info {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 64px 0 64px;
}
.back_forward {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.back_forward p {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

footer {
  background: var(--bg-color);
  padding: 0 max(calc(50% - 720px), 0px);
  background-image: url(../assets/images/footer_bg.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.da_logo {
  height: 128px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.da_logo img {
  height: 32px;
}

.da_logo p {
  color: rgba(150, 150, 150, 1);
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

dialog {
  margin: auto auto;
  color: white;
  max-height: 700px;
  width: 700px;
  z-index: 20;
  border-radius: 40px;
  backdrop-filter: blur(10px);
  background-color: var(--main-color);
  border: none;
  padding-bottom: 56px;
  scrollbar-width: none;
  /* max-width: none;
  max-height: none;
  border: none;
  height: 700px;
  width: 700px; */
  /* background: transparent;
  backdrop-filter: blur(5px); */
}
dialog::backdrop {
  background: transparent;
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 768px) {
  header {
    background: var(--main-color);
    padding: inherit;
  }
  .header {
    display: flex;
    justify-content: center;
  }

  main {
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .big_foto_mode {
    width: 100%;
  }

  .bigImage {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin: 7% auto;
  }
  .bigImage img {
    height: 360px;
    width: 100%;
    object-fit: cover;
  }
  .img_info {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 7% 0 7%;
  }
  dialog {
    margin-top: 16px;
    width: 100%;
    padding-bottom: 5%;
  }

  footer {
    background-image: url(../assets/images/footer_bg_mobile.svg);
  }
}
